
.main__card-content{
  display: flex;
}

.colaborador__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #363636;
  gap: 1rem;
}

.card__role,
.card__description,
.card__wage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}

.listagem__info {
  align-self: flex-start;
}

h4,
h6 {
  font-weight: 500;
}

@media screen and (min-width: 768px) {

  .colaborador__card{
    min-height: 550px;
    align-self: flex-start;
    justify-content: space-between;
  }
  
}

@media screen and (min-width: 768px) {

  .colaborador__card{
    min-height: 650px;
  }
  
}