.main__container {
  margin: 3rem;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.colaborador__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #363636;
  gap: 1rem;
}

.card__role,
.card__description,
.card__wage {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.listagem__info {
  align-self: center;
}

h4,
h6 {
  font-weight: 600;
}
