.main__container {
  margin: 1.5rem;
  // height: 100%;
  // display: flex;
  // flex-direction: row;
}

.main__card-content{
  display: flex;
}

.colaborador__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 33%;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #363636;
  gap: 1rem;
}

.card__role,
.card__description,
.card__wage {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.listagem__info {
  align-self: center;
}

h4,
h6 {
  font-weight: 600;
}
