.konoha-shinobi{
    background-image: url('https://i.pinimg.com/originals/0e/d2/10/0ed210c797e0cac18fb12bb4f1b0bdf2.png');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 630px;
}

.iwa-shinobi{
    background-image: url('https://pm1.narvii.com/6938/59bf1514bab6d207257d16e843428db934dcbb84r1-360-450v2_00.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
}

.kiri-shinobi{
    background-image: url('https://pm1.narvii.com/6559/32096b1bfdd9587e012e0fb54e8e6e2cff4f9f14_00.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
}


.card-img{
    display: flex;
    padding: 0 1rem;
    min-height: 300px;
    width: 100%;
    border-radius: 50%;
}

.character__card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 100%;
    padding: 1rem;
    gap: 0.3rem;    
    margin-bottom: 1rem;
    border-radius: 5%;
    background-color: rgba($color: #FFF, $alpha: 0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.character__affiliation, .character__nature{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: smaller;
    font-weight: 500;
}

.character__missions-kills, .c__missions, .c__kills{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: smaller;
    font-weight: 600;
}

