.character__card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.card-img{
    // background-size: cover;
    height: 250px;
    width: 100%;
}

.character__card-content{
    display: flex;
    flex-direction: column;
    height: 345px;
    gap: 0.3rem;
}

.character__affiliation, .character__nature{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: smaller;
    font-weight: 500;
}

.character__missions-kills, .c__missions, .c__kills{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: smaller;
    font-weight: 600;
}

