.login__main-container {
  display: flex;
  flex-direction: column-reverse;
  color: #363636;
  justify-content: center;
}

.login__description {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem 1.5rem;
  gap: 1rem 0rem;
  background-color: #fbfbfb;
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login__desc-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  letter-spacing: 0.08rem;
}


.login__card {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.login__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background-color: rgba($color: #cccccc, $alpha: 0.8);
  border: 1px solid #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login__card-greeting {
  font-weight: 500;
  justify-content: center;
  align-self: center;
  display: flex;
}

.login__form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 0.3rem;
}

:is(input[type="email"], input[type="password"]) {
  display: flex;
  background-color: #fbfbfb;
  color: #363636;
  border: 2px solid #363636;
  border-radius: 8px;
  padding: 0.3rem 1rem;
  &:focus {
    background-color: #fbfbfb;
  }
}

.login__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.login__button {
  background-color: #363636;
  color: #ffffff;
  border: 1px solid #363636;
  border-radius: 8px;
  padding: 0.3rem;
  width: 100%;
  &:hover {
    cursor: pointer;
    background-color: #c3002f;
    border: 1px solid #c3002f;
    transition: all 0.3s ease-in;
  }
}

.error-container{
    margin: 1rem 0 0 1rem;
}

.error-msg {
  color: #c3002f;
  font-size: small;
}

.hint-msg {
  color: #c3002f;
}

h6,
h4,
h1 {
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (min-width: 1440px) {

  .login__main-container {
  flex-direction: row;
}


.login__description {
  width: 40%;
}

.login__card {
  width: 20%;
  justify-content: flex-start;
}

}
