<section class="main__container">
  <div class="main__title-container">
    <h1 class="main__title">LOREM IPSUM</h1>
  </div>
  <div class="main__lorem">
    <span class="lorem-paragraph-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cum aliquam
      dignissimos distinctio ab fuga explicabo sit suscipit! A facere recusandae
      voluptates tempore laudantium atque, commodi maxime aliquam dolorem vel
      cupiditate ducimus sapiente maiores! Iste!
    </span>
    <span class="lorem-paragraph-1">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi natus,
      reiciendis adipisci impedit quo autem perferendis odit. Ipsam animi et,
      ullam cupiditate reprehenderit eius delectus aut recusandae saepe, sint
      quia nulla sit nihil iure illum.
    </span>
    <span class="lorem-paragraph-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto voluptas
      quae corrupti repudiandae possimus error consectetur earum dignissimos
      commodi. Accusantium dolore placeat qui unde eos quidem magnam! Atque
      molestiae corrupti natus, vero at tenetur quidem voluptates illo est quas
      voluptate quo fugit ducimus dolore facere veritatis et in! Quod molestiae
      id odit doloribus rerum alias sapiente ipsa recusandae non quia, numquam
      excepturi perferendis, saepe eos ab deserunt neque inventore placeat.
    </span>
    <span class="lorem-paragraph-2">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
      corporis quibusdam, nam deleniti nobis asperiores voluptatem dicta
      architecto tenetur excepturi ut odit exercitationem veritatis ullam
      laboriosam provident similique aspernatur veniam. Animi ipsa alias quam
      tempore dolor nobis quos, excepturi placeat. Provident, ad pariatur
      voluptates illo sit optio nemo eum laborum quibusdam, eaque ratione!
      Consequuntur ea commodi neque maiores, totam numquam! Ratione nesciunt
      adipisci quasi odit eum deleniti ut quia facere?
    </span>
    <span class="lorem-paragraph-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A optio officia
      debitis modi expedita, aliquid ut eius voluptate quo. Cupiditate quas
      doloribus sed cumque repudiandae commodi dolorem fugiat exercitationem,
      quod temporibus laboriosam sequi, a dolorum nisi tenetur, possimus error
      eos ipsam deserunt ut obcaecati eum! Quam, sint cumque. Vero veritatis
      voluptate labore laudantium. Aliquid aliquam blanditiis rem, minima
      reiciendis reprehenderit similique ipsam numquam dolorem voluptatem magni.
      Itaque, laboriosam ad! Necessitatibus omnis at, odio blanditiis tempora
      ea? Facere molestias modi asperiores quos consequatur harum voluptatem
      architecto blanditiis doloribus voluptas suscipit, officiis reprehenderit.
      Deserunt hic, magni quam perferendis omnis mollitia ratione saepe quod
      aliquam esse facere laudantium culpa necessitatibus perspiciatis quisquam
      provident nemo eos quia exercitationem cupiditate voluptate vel rerum?
      Deleniti molestias quasi optio assumenda consequuntur natus magnam nemo
      modi delectus? Quaerat laudantium ducimus accusantium labore doloribus
      maiores eum ea a neque. Laudantium molestiae possimus illum laboriosam
      dolorum! Veniam, ipsa! Doloremque, exercitationem.
    </span>
    <span class="lorem-paragraph-3">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga quisquam
      cupiditate, accusantium voluptatum nulla nisi sunt corporis assumenda
      possimus inventore architecto porro accusamus reprehenderit ad laboriosam
      eos iure et. Enim aperiam aliquid iure totam, necessitatibus blanditiis
      pariatur exercitationem iusto ducimus ut vitae voluptatibus libero itaque
      repellat error soluta eos nemo voluptate neque consectetur dolor officia?
      Unde assumenda minus porro, molestiae harum optio perferendis voluptates
      libero voluptatibus iure voluptatum accusantium, nihil consequatur, iusto
      maiores ad ex aspernatur eos? Reprehenderit, molestiae ad quis atque
      ipsam, natus accusamus tempora cupiditate corrupti odio error nam beatae
      exercitationem consectetur laboriosam. Totam amet ducimus soluta, quos
      beatae deserunt odio iusto vel labore vitae. Optio a nihil magni non neque
      est rerum officiis odio quia consequatur voluptas tenetur autem tempora
      quisquam ea reiciendis facilis doloribus sed, odit magnam quibusdam
      ducimus quis saepe. Optio quasi vel eum? Est molestias accusantium rerum
      quo dicta nostrum nisi doloremque possimus ex?
    </span>
  </div>
</section>
