<section class="main__container">
  <div class="main__title-container">
    <h1 class="main__title">LOREM IPSUM</h1>
  </div>
  <div class="main__lorem">
    <span class="lorem-paragraph">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem hic
      perferendis doloremque commodi. Eius, in voluptates est incidunt rem
      veniam fugit tenetur ab consectetur ut quasi temporibus repudiandae hic
      fugiat magni. Molestias delectus fuga autem neque, ratione id eius.
      Reprehenderit doloribus incidunt sit fuga omnis exercitationem
      consequuntur et deleniti nemo, blanditiis soluta accusamus veniam ea
      reiciendis corporis tempora? Incidunt, sed magni nostrum sequi hic quasi
      aliquid labore quae atque harum, impedit quam perferendis qui commodi
      delectus consequuntur modi enim esse odit saepe molestias tempora! In vero
      aperiam provident quis quisquam voluptate culpa, quaerat nesciunt nulla
      hic officiis itaque quae dolores omnis magni repellendus repellat
      exercitationem nostrum rerum eaque laborum reprehenderit? Repellat officia
      dolorum rerum aliquid voluptas, et maxime labore! Doloribus atque aut
      totam reprehenderit dolorem excepturi, ratione ut! Vitae omnis doloribus
      aut veritatis? Officia aspernatur rem repellat voluptas maiores cum libero
      corporis ea doloribus, amet recusandae doloremque expedita quos saepe sint
      harum unde facilis quae iure necessitatibus quo qui cupiditate ratione?
      Quos obcaecati nostrum quae porro corrupti, at possimus velit iste dicta
      optio. Odit tenetur eaque dolores deserunt mollitia nulla vel, voluptas
      quasi repellendus similique! Rem, est eum at tempore, veniam voluptate
      autem quam, quidem error odio similique ab hic porro velit impedit tempora
      unde libero! Dicta repellat culpa inventore nostrum aspernatur ullam
      quaerat consequatur officiis eveniet! Ipsum, dolores, voluptates assumenda
      inventore dolor possimus illo eos cum recusandae ex et officia iste nobis
      soluta numquam. Hic sunt eius error velit. Ad, aperiam sit doloremque
      dicta rerum ipsa repellendus eius necessitatibus?
    </span>
    <span class="lorem-paragraph">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque odio
      similique, eius ea amet temporibus magnam recusandae, consequatur cumque
      natus adipisci! Quas voluptatibus minus recusandae eum sunt dolores
      incidunt eius, rem, quod tempora similique quidem accusantium eaque
      voluptatum dolorum! Quos ex officiis maiores fugiat sit. Sapiente nam
      expedita architecto, necessitatibus, in iure excepturi fugiat ducimus
      repellat voluptatum nesciunt corporis? Enim quam fuga totam, praesentium
      in commodi ea dignissimos eveniet corrupti quas! Quisquam eaque maxime
      consequatur minima dolorem. Dolores, ullam provident ipsum in obcaecati
      nostrum iste ut, est sunt nesciunt autem. Laudantium magnam est rem, alias
      quas excepturi porro ullam pariatur optio veritatis soluta vitae
      perspiciatis reiciendis a accusantium deserunt aliquid ipsam? Praesentium
      suscipit in, exercitationem consectetur quibusdam odio nostrum qui harum
      saepe itaque facilis ducimus repudiandae molestias ut fugit corrupti
      doloremque molestiae quae? Eveniet repudiandae dolorum alias harum error
      earum iusto laudantium neque ad consequatur, consectetur impedit, laborum,
      at molestias asperiores illum cumque. Dolorum dolore, minima eos quos
      magnam dolorem distinctio accusantium provident natus at optio odit
      aliquid! Sapiente ducimus recusandae unde voluptas quod iusto eaque nemo
      eius, molestiae, hic quia doloribus consequuntur qui praesentium cum
      laboriosam laborum officia quas exercitationem nam. Magni sit nulla
      praesentium cumque minima. Aliquid, eveniet quo! Sit quos nobis amet vitae
      aliquid quisquam quo nihil rem exercitationem? Minus voluptatum error sit
      ut expedita nihil repellat laborum, deserunt impedit dolorum
      exercitationem sed ad illo facere laboriosam. Aperiam laborum velit neque
      eius culpa corrupti maiores ipsa itaque quasi error minus eveniet rerum
      quis quaerat accusantium odit repudiandae recusandae, eligendi quas
      provident unde ipsum aliquid aliquam. Delectus ad dignissimos hic nobis
      minima quod voluptas modi neque, veritatis excepturi quidem architecto in
      eius porro obcaecati quos, quibusdam maxime. A, veniam. Quaerat inventore
      molestiae nisi veniam voluptatibus dolor cumque beatae ullam, expedita ea
      iusto, pariatur praesentium sint iure facere ducimus.
    </span>
  </div>
</section>