<footer class="footer__container">
  <div class="footer__navBar">
    <a href="#"><span class="navBar__item">HOME</span></a>
    <a href="#"><span class="navBar__item">ABOUT</span></a>
    <a href="#"><span class="navBar__item">CONTACT</span></a>
    <a href="#"><span class="navBar__item">FAQ</span></a>
  </div>
  <section class="footer__description">
    <h4>What is a Component?</h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quos
      quia excepturi provident error illo mollitia quasi aperiam! Corporis
      magnam quasi hic necessitatibus voluptate iusto non aliquid unde nobis
      laudantium saepe cumque harum optio blanditiis illo labore maxime suscipit
      reprehenderit molestiae consectetur, voluptatibus eum. Fugiat hic deleniti
      blanditiis explicabo.
    </p>
  </section>

  <section class="footer__description">
    <h4>What is a Module?</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate
      repudiandae aspernatur, quod sed eligendi molestiae laborum quo excepturi
      sapiente voluptates quos nulla cupiditate aliquam alias numquam nemo
      fugiat. Dolores atque libero quos quibusdam, sint in minima exercitationem
      beatae deserunt earum asperiores magnam? Odio, corporis dolorem suscipit
      rerum commodi possimus quisquam!
    </p>
  </section>
</footer>
