.gold-pot__main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 1rem 1rem;
  color: #363636;
}

.gold-pot__main-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gold-pot__content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  gap: 1rem;
  background-color: rgba($color: #fff, $alpha: 0.6);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gold-pot-title{
    font-size: xx-large;
    font-weight: 600;
}

.gold-pot-text{
    font-size: medium;
    letter-spacing: 0.15rem;
}

.gold-pot__img-card {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-radius: 50%;
  background-size: cover;
  border: 3px solid #eeeeee;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.gold-pot-img {
  width: 300px;
  transform: rotateY(180deg);
}

button {
  background-color: #363636;
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 600;
  padding: 0.3rem 1rem;
  &:hover {
    background-color: #c3002f;
    cursor: pointer;
    transition: all ease 0.4s;
  }
}

b{
    color: #c3002f;
}