<mat-card class="character__card">
  <img
    class="card-img"
    mat-card-image
    src="{{ character.img }}"
    alt="{{ character.name }}"
  />
  <mat-card-content class="character__card-content">
    <mat-card-title>{{ character.name }} {{ character.clan }}</mat-card-title>
    <mat-card-subtitle
      >{{ character.patent }} of
      {{ character.affiliation[0] }}</mat-card-subtitle
    >
    <p>
      {{ character.name }} is {{ character.clan }}'s clan member and has been a
      former {{ character.patent }} of {{ character.affiliation[0] }}, the
      elements affinity and other affiliations will be listed down below as with
      the total of missions and kills.
    </p>
    <div class="character__stats">
      <div class="character__affiliation">
        <h5>Affiliation:</h5>
        <div class="c__affiliation">{{character.affiliation}}</div>
      </div>
      <div class="character__nature">
        <h5>Nature Affinity:</h5>
        <span class="c__nature">{{ character.nature }}</span>
      </div>
    </div>
    <div class="character__missions-kills">
      <span class="c__missions"
        ><h5>Missions:</h5>
        <mat-card-subtitle> {{ character.mission }}</mat-card-subtitle></span
      >
      <span class="c__kills"
        ><h5>Kills:</h5>
        <mat-card-subtitle> {{ character.kill }}</mat-card-subtitle></span
      >
    </div>
  </mat-card-content>
  <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
